USE [master]
GO
/****** Object:  Database [digital_tarkari]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE DATABASE [digital_tarkari]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'digital_tarkari', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\digital_tarkari.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'digital_tarkari_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\digital_tarkari_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [digital_tarkari].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [digital_tarkari]
GO
/****** Object:  Table [dbo].[vegetables]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vegetables](
	[vegetable_id] [int] IDENTITY(1,1) NOT NULL,
	[vegetable_name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NULL,
	[season] [nvarchar](20) NULL,
	[unit] [nvarchar](20) NULL,
	[average_shelf_life] [int] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[vegetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[vegetable_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_grades]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_grades](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[grade_code] [nvarchar](10) NOT NULL,
	[grade_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price_multiplier] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[grade_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[vegetable_id] [int] NOT NULL,
	[grade_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[procurement_date] [date] NOT NULL,
	[expiry_date] [date] NULL,
	[batch_number] [nvarchar](50) NULL,
	[location] [nvarchar](50) NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_current_inventory]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_current_inventory] AS
SELECT 
    v.vegetable_name,
    g.grade_name,
    SUM(i.quantity) AS total_quantity,
    MIN(i.expiry_date) AS earliest_expiry,
    AVG(i.unit_price) AS avg_price,
    SUM(i.quantity * i.unit_price) AS total_value
FROM inventory i
JOIN vegetables v ON i.vegetable_id = v.vegetable_id
JOIN quality_grades g ON i.grade_id = g.grade_id
WHERE i.quantity > 0 AND i.status = 'Fresh'
GROUP BY v.vegetable_name, g.grade_name;
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[customer_type] [nvarchar](50) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[registration_date] [date] NULL,
	[credit_limit] [decimal](10, 2) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [date] NOT NULL,
	[delivery_date] [date] NULL,
	[order_status] [nvarchar](30) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[discount] [decimal](10, 2) NULL,
	[final_amount] [decimal](10, 2) NULL,
	[payment_status] [nvarchar](30) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_customer_orders_summary]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_customer_orders_summary] AS
SELECT 
    c.customer_id,
    c.customer_name,
    c.customer_type,
    COUNT(o.order_id) AS total_orders,
    SUM(o.final_amount) AS total_spent,
    AVG(o.final_amount) AS avg_order_value,
    MAX(o.order_date) AS last_order_date
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id AND o.order_status = 'Delivered'
GROUP BY c.customer_id, c.customer_name, c.customer_type;
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](100) NOT NULL,
	[supplier_type] [nvarchar](50) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](max) NULL,
	[payment_terms] [nvarchar](100) NULL,
	[rating] [decimal](2, 1) NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[procurement]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procurement](
	[procurement_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_id] [int] NOT NULL,
	[procurement_date] [date] NOT NULL,
	[total_cost] [decimal](10, 2) NULL,
	[payment_status] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[procurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_procurement_analysis]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_procurement_analysis] AS
SELECT 
    s.supplier_name,
    s.supplier_type,
    COUNT(p.procurement_id) AS procurement_count,
    SUM(p.total_cost) AS total_spent,
    AVG(p.total_cost) AS avg_procurement_value,
    MIN(p.procurement_date) AS first_procurement,
    MAX(p.procurement_date) AS last_procurement
FROM suppliers s
JOIN procurement p ON s.supplier_id = p.supplier_id
GROUP BY s.supplier_name, s.supplier_type;
GO
/****** Object:  Table [dbo].[deliveries]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveries](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[delivery_date] [date] NOT NULL,
	[delivery_time] [time](7) NULL,
	[driver_name] [nvarchar](100) NULL,
	[vehicle_number] [nvarchar](20) NULL,
	[delivery_status] [nvarchar](30) NULL,
	[delivery_notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[vegetable_id] [int] NOT NULL,
	[grade_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[total_price]  AS ([quantity]*[unit_price]) PERSISTED,
	[fulfilled_quantity] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[procurement_items]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procurement_items](
	[procurement_item_id] [int] IDENTITY(1,1) NOT NULL,
	[procurement_id] [int] NOT NULL,
	[vegetable_id] [int] NOT NULL,
	[grade_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_cost] [decimal](10, 2) NOT NULL,
	[total_cost]  AS ([quantity]*[unit_cost]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[procurement_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendor_sales]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[vendor_id] [int] NOT NULL,
	[sale_date] [date] NOT NULL,
	[vegetable_id] [int] NOT NULL,
	[grade_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[total_amount]  AS ([quantity]*[unit_price]) PERSISTED,
	[payment_status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customer_name]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_customer_name] ON [dbo].[customers]
(
	[customer_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customer_type]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_customer_type] ON [dbo].[customers]
(
	[customer_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_customers_type_active]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_customers_type_active] ON [dbo].[customers]
(
	[customer_type] ASC,
	[active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_deliveries_status_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_deliveries_status_date] ON [dbo].[deliveries]
(
	[delivery_status] ASC,
	[delivery_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_delivery_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_delivery_date] ON [dbo].[deliveries]
(
	[delivery_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_delivery_status]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_delivery_status] ON [dbo].[deliveries]
(
	[delivery_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_inventory_proc_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_inventory_proc_date] ON [dbo].[inventory]
(
	[procurement_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_inventory_status_expiry]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_inventory_status_expiry] ON [dbo].[inventory]
(
	[status] ASC,
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_inventory_veg_grade]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_inventory_veg_grade] ON [dbo].[inventory]
(
	[vegetable_id] ASC,
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_status_expiry]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_status_expiry] ON [dbo].[inventory]
(
	[status] ASC,
	[expiry_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_vegetable_grade]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_vegetable_grade] ON [dbo].[inventory]
(
	[vegetable_id] ASC,
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_items]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_items] ON [dbo].[order_items]
(
	[order_id] ASC,
	[vegetable_id] ASC,
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_vegetable]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_vegetable] ON [dbo].[order_items]
(
	[order_id] ASC,
	[vegetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_customer_order]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_customer_order] ON [dbo].[orders]
(
	[customer_id] ASC,
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_order_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_date] ON [dbo].[orders]
(
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_order_status]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_order_status] ON [dbo].[orders]
(
	[order_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_customer_status]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_orders_customer_status] ON [dbo].[orders]
(
	[customer_id] ASC,
	[order_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_status_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_orders_status_date] ON [dbo].[orders]
(
	[order_status] ASC,
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_procurement_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_procurement_date] ON [dbo].[procurement]
(
	[procurement_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_supplier_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_supplier_date] ON [dbo].[procurement]
(
	[supplier_id] ASC,
	[procurement_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_procurement_items_pid]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_procurement_items_pid] ON [dbo].[procurement_items]
(
	[procurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_supplier_type]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_supplier_type] ON [dbo].[suppliers]
(
	[supplier_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_category]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_category] ON [dbo].[vegetables]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_vegetable_name]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_vegetable_name] ON [dbo].[vegetables]
(
	[vegetable_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_sale_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_sale_date] ON [dbo].[vendor_sales]
(
	[sale_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_vendor_sale]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_vendor_sale] ON [dbo].[vendor_sales]
(
	[vendor_id] ASC,
	[sale_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_vendor_sales_vendor_date]    Script Date: 12/5/2025 1:59:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_vendor_sales_vendor_date] ON [dbo].[vendor_sales]
(
	[vendor_id] ASC,
	[sale_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [credit_limit]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT ('Scheduled') FOR [delivery_status]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ('Fresh') FOR [status]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((0)) FOR [fulfilled_quantity]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Pending') FOR [order_status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [final_amount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[procurement] ADD  DEFAULT ((0)) FOR [total_cost]
GO
ALTER TABLE [dbo].[procurement] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[quality_grades] ADD  DEFAULT ((1.00)) FOR [price_multiplier]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((5.0)) FOR [rating]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[vegetables] ADD  DEFAULT ('kg') FOR [unit]
GO
ALTER TABLE [dbo].[vendor_sales] ADD  DEFAULT ('Paid') FOR [payment_status]
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD  CONSTRAINT [fk_del_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[deliveries] CHECK CONSTRAINT [fk_del_order]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [fk_inventory_grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[quality_grades] ([grade_id])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [fk_inventory_grade]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [fk_inventory_vegetable] FOREIGN KEY([vegetable_id])
REFERENCES [dbo].[vegetables] ([vegetable_id])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [fk_inventory_vegetable]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_item_grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[quality_grades] ([grade_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_item_grade]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_item_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_item_order]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [fk_item_veg] FOREIGN KEY([vegetable_id])
REFERENCES [dbo].[vegetables] ([vegetable_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [fk_item_veg]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_orders_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_orders_customer]
GO
ALTER TABLE [dbo].[procurement]  WITH CHECK ADD  CONSTRAINT [fk_proc_supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[procurement] CHECK CONSTRAINT [fk_proc_supplier]
GO
ALTER TABLE [dbo].[procurement_items]  WITH CHECK ADD  CONSTRAINT [fk_pi_grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[quality_grades] ([grade_id])
GO
ALTER TABLE [dbo].[procurement_items] CHECK CONSTRAINT [fk_pi_grade]
GO
ALTER TABLE [dbo].[procurement_items]  WITH CHECK ADD  CONSTRAINT [fk_pi_proc] FOREIGN KEY([procurement_id])
REFERENCES [dbo].[procurement] ([procurement_id])
GO
ALTER TABLE [dbo].[procurement_items] CHECK CONSTRAINT [fk_pi_proc]
GO
ALTER TABLE [dbo].[procurement_items]  WITH CHECK ADD  CONSTRAINT [fk_pi_veg] FOREIGN KEY([vegetable_id])
REFERENCES [dbo].[vegetables] ([vegetable_id])
GO
ALTER TABLE [dbo].[procurement_items] CHECK CONSTRAINT [fk_pi_veg]
GO
ALTER TABLE [dbo].[vendor_sales]  WITH CHECK ADD  CONSTRAINT [fk_vs_grade] FOREIGN KEY([grade_id])
REFERENCES [dbo].[quality_grades] ([grade_id])
GO
ALTER TABLE [dbo].[vendor_sales] CHECK CONSTRAINT [fk_vs_grade]
GO
ALTER TABLE [dbo].[vendor_sales]  WITH CHECK ADD  CONSTRAINT [fk_vs_veg] FOREIGN KEY([vegetable_id])
REFERENCES [dbo].[vegetables] ([vegetable_id])
GO
ALTER TABLE [dbo].[vendor_sales] CHECK CONSTRAINT [fk_vs_veg]
GO
ALTER TABLE [dbo].[vendor_sales]  WITH CHECK ADD  CONSTRAINT [fk_vs_vendor] FOREIGN KEY([vendor_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[vendor_sales] CHECK CONSTRAINT [fk_vs_vendor]
GO
/****** Object:  StoredProcedure [dbo].[AddOrderItem]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddOrderItem]
    @order_id INT,
    @vegetable_id INT,
    @grade_id INT,
    @quantity DECIMAL(10,2),
    @unit_price DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @available DECIMAL(18,2);

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @available = ISNULL(SUM(quantity), 0)
        FROM dbo.inventory
        WHERE vegetable_id = @vegetable_id
          AND grade_id = @grade_id
          AND status = 'Fresh'
          AND (expiry_date IS NULL OR expiry_date >= CONVERT(date, GETDATE()));

        IF @available < @quantity
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 51000, 'Insufficient inventory available', 1;
        END

        INSERT INTO dbo.order_items (order_id, vegetable_id, grade_id, quantity, unit_price, fulfilled_quantity)
        VALUES (@order_id, @vegetable_id, @grade_id, @quantity, @unit_price, 0);

        -- Recalculate order totals
        UPDATE o
        SET o.total_amount = oi.total,
            o.final_amount = oi.total - ISNULL(o.discount, 0)
        FROM dbo.orders o
        INNER JOIN (
            SELECT order_id, SUM(quantity * unit_price) AS total
            FROM dbo.order_items
            WHERE order_id = @order_id
            GROUP BY order_id
        ) oi ON o.order_id = oi.order_id
        WHERE o.order_id = @order_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AddProcurement]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddProcurement]
    @supplier_id INT,
    @payment_status VARCHAR(50),
    @procurement_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.procurement (supplier_id, procurement_date, payment_status)
        VALUES (@supplier_id, CONVERT(date, GETDATE()), @payment_status);

        SET @procurement_id = CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;

        -- return id as output parameter
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AddProcurementItem]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddProcurementItem]
    @procurement_id INT,
    @vegetable_id INT,
    @grade_id INT,
    @quantity DECIMAL(10,2),
    @unit_cost DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @shelf_life INT = 0;
    DECLARE @expiry_date DATE;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT TOP (1) @shelf_life = ISNULL(average_shelf_life, 0)
        FROM dbo.vegetables
        WHERE vegetable_id = @vegetable_id;

        SET @expiry_date = DATEADD(DAY, @shelf_life, CONVERT(date, GETDATE()));

        INSERT INTO dbo.procurement_items (procurement_id, vegetable_id, grade_id, quantity, unit_cost)
        VALUES (@procurement_id, @vegetable_id, @grade_id, @quantity, @unit_cost);

        INSERT INTO dbo.inventory (vegetable_id, grade_id, quantity, unit_price, procurement_date, expiry_date, status)
        VALUES (@vegetable_id, @grade_id, @quantity, @unit_cost * 1.3, CONVERT(date, GETDATE()), @expiry_date, 'Fresh');

        -- Recalculate procurement total
        UPDATE p
        SET p.total_cost = ISNULL(pi.total, 0)
        FROM dbo.procurement p
        LEFT JOIN (
            SELECT procurement_id, SUM(quantity * unit_cost) AS total
            FROM dbo.procurement_items
            WHERE procurement_id = @procurement_id
            GROUP BY procurement_id
        ) pi ON p.procurement_id = pi.procurement_id
        WHERE p.procurement_id = @procurement_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateNewOrder]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateNewOrder]
    @customer_id INT,
    @delivery_date DATE,
    @order_id INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO dbo.orders (customer_id, order_date, delivery_date, order_status)
        VALUES (@customer_id, CONVERT(date, GETDATE()), @delivery_date, 'Pending');

        SET @order_id = CAST(SCOPE_IDENTITY() AS INT);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[GetDailySalesReport]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetDailySalesReport]
    @report_date DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CONVERT(date, o.order_date) AS sale_date,
        COUNT(DISTINCT o.order_id) AS total_orders,
        COUNT(DISTINCT o.customer_id) AS total_customers,
        SUM(oi.quantity * oi.unit_price) AS total_revenue,
        SUM(oi.quantity) AS total_quantity_kg,
        CASE WHEN COUNT(DISTINCT o.order_id) = 0 THEN 0
             ELSE SUM(oi.quantity * oi.unit_price) / NULLIF(COUNT(DISTINCT o.order_id), 0) END AS avg_order_value
    FROM dbo.orders o
    INNER JOIN dbo.order_items oi ON o.order_id = oi.order_id
    WHERE CONVERT(date, o.order_date) = @report_date
      AND o.order_status IN ('Delivered', 'Processing')
    GROUP BY CONVERT(date, o.order_date);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetInventoryStatus]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetInventoryStatus]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        v.vegetable_name,
        g.grade_name,
        SUM(i.quantity) AS total_quantity,
        AVG(i.unit_price) AS avg_unit_price,
        MIN(i.expiry_date) AS earliest_expiry,
        SUM(CASE WHEN i.expiry_date <= DATEADD(DAY, 2, CONVERT(date, GETDATE())) THEN 1 ELSE 0 END) AS expiring_soon_count,
        SUM(CASE WHEN i.status = 'Expired' THEN 1 ELSE 0 END) AS expired_count
    FROM dbo.inventory i
    INNER JOIN dbo.vegetables v ON i.vegetable_id = v.vegetable_id
    INNER JOIN dbo.quality_grades g ON i.grade_id = g.grade_id
    WHERE i.quantity > 0
    GROUP BY v.vegetable_name, g.grade_name
    ORDER BY v.vegetable_name, g.grade_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[ProcessOrderFulfillment]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcessOrderFulfillment]
    @order_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @veg_id INT, @grade_id INT;
    DECLARE @needed DECIMAL(18,2);
    DECLARE @inv_id INT;
    DECLARE @inv_qty DECIMAL(18,2);
    DECLARE @deduct DECIMAL(18,2);

    DECLARE cur CURSOR FAST_FORWARD FOR
        SELECT vegetable_id, grade_id, (quantity - fulfilled_quantity) AS needed
        FROM dbo.order_items
        WHERE order_id = @order_id AND fulfilled_quantity < quantity;

    BEGIN TRY
        BEGIN TRANSACTION;

        OPEN cur;
        FETCH NEXT FROM cur INTO @veg_id, @grade_id, @needed;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            WHILE @needed > 0
            BEGIN
                -- select oldest available inventory batch
                SELECT TOP (1) @inv_id = inventory_id, @inv_qty = quantity
                FROM dbo.inventory
                WHERE vegetable_id = @veg_id
                  AND grade_id = @grade_id
                  AND status = 'Fresh'
                  AND (expiry_date IS NULL OR expiry_date >= CONVERT(date, GETDATE()))
                  AND quantity > 0
                ORDER BY procurement_date ASC, inventory_id ASC;

                IF @inv_id IS NULL
                BEGIN
                    CLOSE cur;
                    DEALLOCATE cur;
                    ROLLBACK TRANSACTION;
                    THROW 51001, 'Insufficient inventory for fulfillment', 1;
                END

                SET @deduct = CASE WHEN @needed <= @inv_qty THEN @needed ELSE @inv_qty END;

                -- deduct from inventory
                UPDATE dbo.inventory
                SET quantity = quantity - @deduct
                WHERE inventory_id = @inv_id;

                -- update order_items fulfilled_quantity
                UPDATE dbo.order_items
                SET fulfilled_quantity = fulfilled_quantity + @deduct
                WHERE order_id = @order_id
                  AND vegetable_id = @veg_id
                  AND grade_id = @grade_id;

                SET @needed = @needed - @deduct;

                -- mark batch sold if emptied
                UPDATE dbo.inventory
                SET status = 'Sold'
                WHERE inventory_id = @inv_id AND quantity <= 0;
            END

            FETCH NEXT FROM cur INTO @veg_id, @grade_id, @needed;
        END

        CLOSE cur;
        DEALLOCATE cur;

        -- update order status to Processing (or you may add logic to detect fully delivered)
        UPDATE dbo.orders
        SET order_status = 'Processing'
        WHERE order_id = @order_id;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('global', 'cur') >= -1
        BEGIN
            CLOSE cur;
            DEALLOCATE cur;
        END
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SellToLocalVendor]    Script Date: 12/5/2025 1:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SellToLocalVendor]
    @vendor_id INT,
    @vegetable_id INT,
    @grade_id INT,
    @quantity DECIMAL(10,2),
    @unit_price DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @available DECIMAL(18,2);
    DECLARE @remaining DECIMAL(18,2);
    DECLARE @inv_id INT;
    DECLARE @batch_qty DECIMAL(18,2);
    DECLARE @deduct DECIMAL(18,2);

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT @available = ISNULL(SUM(i.quantity), 0)
        FROM dbo.inventory i
        INNER JOIN dbo.quality_grades q ON i.grade_id = q.grade_id
        WHERE i.vegetable_id = @vegetable_id
          AND (q.grade_code LIKE 'C%' OR q.grade_code LIKE 'D%')
          AND i.status = 'Fresh';

        IF @available < @quantity
        BEGIN
            ROLLBACK TRANSACTION;
            THROW 51002, 'Insufficient low grade inventory available', 1;
        END

        INSERT INTO dbo.vendor_sales (vendor_id, sale_date, vegetable_id, grade_id, quantity, unit_price)
        VALUES (@vendor_id, CONVERT(date, GETDATE()), @vegetable_id, @grade_id, @quantity, @unit_price);

        SET @remaining = @quantity;

        WHILE @remaining > 0
        BEGIN
            SELECT TOP (1) @inv_id = inventory_id, @batch_qty = quantity
            FROM dbo.inventory i
            WHERE i.vegetable_id = @vegetable_id
              AND i.grade_id = @grade_id
              AND i.status = 'Fresh'
              AND i.quantity > 0
            ORDER BY i.procurement_date ASC, i.inventory_id ASC;

            IF @inv_id IS NULL
            BEGIN
                ROLLBACK TRANSACTION;
                THROW 51003, 'Unexpected inventory shortage while selling to vendor', 1;
            END

            SET @deduct = CASE WHEN @remaining <= @batch_qty THEN @remaining ELSE @batch_qty END;

            UPDATE dbo.inventory
            SET quantity = quantity - @deduct
            WHERE inventory_id = @inv_id;

            SET @remaining = @remaining - @deduct;

            UPDATE dbo.inventory
            SET status = 'Sold'
            WHERE inventory_id = @inv_id AND quantity <= 0;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
